<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Discover "<strong><%= @restaurant.name %></strong>"</h1>
    </div>
    <div class="col-xs-12">
      <%= image_tag("https://picsum.photos/1100/400/?random") %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <hr>
      <p><strong>Category: </strong><%= @restaurant.category.capitalize %></p>
      <p><strong>Adress: </strong><%= @restaurant.address %></p>
      <p><strong>Phone: </strong><%= @restaurant.phone_number %></p>
       <%= link_to 'Back to the list', restaurants_path, class: "btn btn-primary" %>
    </div>
    <div class="col-xs-6">
      <div>
        <hr>
        <strong>Reviews: </strong>
        <ul>
        <% @restaurant.reviews.each do |review| %>
          <li><%= review.content %> </li>
        <% end %>
        </ul>
      </div>
      <div>
       <%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>




